{% extends 'base.html' %}
{% block title %}About Me{% endblock title %}

{% load static %}
{% block content %}
<section class="about-section center">

    <div class="about-img-container center">
        <img src="{% static './img/logo.png' %}" alt="img">
    </div>

    <div class="about-txt-container center-column">

        <div class="center-coloum">
            <h1>Student</h1>
            <h2>Jason Ramirez </h2>
        </div>

        <p>Hey, I'm Jason, the full-stack development student over at SDGKU, and I'm not your typical coder. I bring a lively spirit to the classroom, tackling coding challenges with infectious enthusiasm. But that's not all. I've got a signature makeup look that's as unique as my coding style. 
            <br><br>
            From a flawless base to a pop of playful color, my style reflects my passion for tech and my commitment to making a statement, both in code and appearance. I'm not just mastering algorithms; I'm conquering them with a blend of charisma and coding prowess.
        </p>
        <div class="skills-list center-column">
            <h2>Skills</h2>

            <div class="tags-container center">
                <label>Independent</label>
                <label>Problem solving</label>
                <label>Database Management</label>
                <label>Front-End workspace</label>
                <label>Communication</label>
                <label>Design-Patterns</label>
                <label>Server-Management</label>
                <label>Version Control</label>
                <label>API</label>
                <label>Server-side programming</label>
            </div>
        </div>
    </div>
</section>
{% endblock content %}